body{
    margin:0; 
    background-color: #212529;
}
nav{
    background-color: #22263e;
    padding-bottom: 0.1px;
}
#logo{
    display:flex;
    position: relative;
    left: 0;
    width: 400px; 
}
.contenedor{
    display: flex;
    list-style:none;
  }
  .contenedor li{
    flex: 0 0 1; 
  }
  .contenedor a {
    font-family: Georgia; 
    font-size: 20px;
    font-style:oblique;
    letter-spacing: 0.1em;
    line-height: 32px;
    text-decoration:none;
    display:inline-flex;
    padding: 9px;
    color: white;
    user-select: none;
  }
  .contenedor a:hover{
    background-color: #474d70;
    font-size: x-large;
    font-stretch: expanded;
  }
  .sect {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
  }
  #sonar p{
    position: absolute; 
    text-align: center; 
    left:20%;
    font-size: xx-large ;
    color:white;
  }
  #sonar img{
    position: absolute;
    top:425px; 
    width:35%;
    left:10px; 
  }
  #sonar img:hover{
    width:45%; 
  }
  #radar p{
    position: absolute; 
    text-align: center; 
    right:20%;
    font-size: xx-large ;
    color:white;
  }
  #radar img{
    position: absolute;
    right:10px; 
    width:45%; 
  }
  #radar img:hover{
    width:50%; 
  }
  footer{
    position: relative; 
    text-align:center;
    top:500px; 
    color:white;
    padding:20px; 
    font-family: Georgia;
    font-size: larger; 
  }