body {
    margin: 0;
    background-image: url("https://images.pling.com/img/00/00/59/57/30/1465779/43d74e6a9ac2beaf178ef0635643871df5c29329c0c29b943e33ab1198e4d65263b3.jpg");
  }
  nav{
    background-color: #22263e;
    padding-bottom: 0.1px;
  }
  #logo{
    display:flex;
    position: relative;
    left: 0;
    width: 400px; 
  }
  .contenedor{
    display: flex;
    list-style:none;
  }
  .contenedor li{
    flex: 0 0 1; 
  }
  .contenedor a {
    font-family: Georgia; 
    font-size: 20px;
    font-style:oblique;
    letter-spacing: 0.1em;
    line-height: 32px;
    text-decoration:none;
    display:inline-flex;
    padding: 9px;
    color: white;
    user-select: none;
  }
  .contenedor a:hover{
    background-color: #474d70;
    font-size: x-large;
    font-stretch: expanded;
  }
  h1{
    color:white; 
    padding: 5px;
  }
  #sect1{
    color:white; 
  }
  #sect1 ul{
    position: absolute; 
    right: 30px;
    bottom:0.5px; 
    font-size: large; 
    font-family: Georgia;
    background-color:#22263e ;
    border: 1px;
  }
  #item{
    width:45%;
  }
  